.media-card {
    width: 220px;
    background: #181818;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 32px rgba(0,0,0,0.5);
    text-align: center;
    padding: 0.6rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-card:hover {
    transform: scale(1.03);
    border-color: #222;
}

.media-card img {
    width: 200px;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    display: block;
}

.media-card.related-media-card {
    width: 110px;
    padding: 0.3rem 0.25rem;
}

.media-card.related-media-card img {
    width: 100px;
    height: 140px;
    border-radius: 6px;
    margin-bottom: 0.3rem;
}

.media-title {
    margin-top: 1rem;
    color: #fff;
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
    max-width: 180px;
}

.media-title.related-media-title {
    font-size: 0.8rem;
    max-width: 90px;
}

.media-poster-hoverbox {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

.media-poster-hoverbox img {
    display: block;
    width: 100%;
    border-radius: 16px;
    transition: transform 0.2s;
}

.media-poster-overlay,
.media-poster-rating {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
}

.media-poster-overlay {
    background: rgba(20, 20, 20, 0.65);
    z-index: 1;
    border-radius: 10px;
}

.media-poster-rating {
    z-index: 2;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0 2px 8px rgba(0,0,0,0.4);
    background: rgba(30,30,30,0.7);
    border-radius: 16px;
    padding: 12px 32px;
    width: auto;
    height: auto;
    margin: auto;
}

.media-poster-rating-related {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
    z-index: 2;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-shadow: 0 2px 8px rgba(0,0,0,0.4);
    background: rgba(30,30,30,0.7);
    border-radius: 16px;
    padding: 12px 32px;
    width: auto;
    height: auto;
    margin: auto;
}

.media-poster-hoverbox:hover img {
    transform: scale(1.03);
}

.media-poster-hoverbox:hover .media-poster-overlay,
.media-poster-hoverbox:hover .media-poster-rating {
    opacity: 1;
}

.media-poster-hoverbox:hover .media-poster-rating-related {
    opacity: 1;
}